In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [80]:
df=pd.read_csv("train_loanPrediction.csv")

In [81]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [82]:
type(df)

pandas.core.frame.DataFrame

In [83]:
df.shape

(1480, 13)

In [84]:
df.describe()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,1443.000000,1480.000000,1480.000000,1430.000000,1456.000000,1354.000000
mean,0.786556,5420.054054,1668.158622,148.002797,341.587912,0.842688
std,1.013863,6127.461081,3111.846669,86.080796,66.759293,0.364229
min,0.000000,150.000000,0.000000,9.000000,12.000000,0.000000
25%,0.000000,2873.000000,0.000000,100.000000,360.000000,1.000000
50%,0.000000,3750.000000,1287.000000,128.000000,360.000000,1.000000
75%,2.000000,5818.000000,2306.000000,166.750000,360.000000,1.000000
max,3.000000,81000.000000,41667.000000,700.000000,480.000000,1.000000

In [85]:
df.isnull().sum()

Loan_ID                0
Gender                35
Married                5
Dependents            37
Education              0
Self_Employed         72
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount            50
Loan_Amount_Term      24
Credit_History       126
Property_Area          0
Loan_Status            0
dtype: int64

In [86]:
df1=df.dropna()

In [87]:
df1.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [88]:
val=df1.index

In [89]:
df1['ApplicantIncome'].hist(bins=10)
plt.title("Application Income")
plt.xlabel('Amount')
plt.ylabel('No.of App')

Text(29.222222222222214, 0.5, 'No.of App')

In [90]:
df['CoapplicantIncome'].hist(bins=10)
plt.title("Coapplication Income")
plt.xlabel('Amount')
plt.ylabel('No.of CoApp')

Text(29.222222222222214, 0.5, 'No.of CoApp')

In [91]:
stack_chart = pd.crosstab(df['Credit_History'],df['Loan_Status'])
stack_chart.plot(kind='bar',stacked=True,color=['green','red'],grid=False)
stack_chart = pd.crosstab(df['Gender'],df['Loan_Status'])
stack_chart.plot(kind='bar',stacked=True,color=['green','red'],grid=False)

In [ ]:
df['T']